/*Style file created by Keenan Golston
=======================================
00: CSS variables
01: Colors
02: Typography
03: Layout
04: other decorations

=======================================
*/

/* 00: CCS variables */
:root{
    --page-color: hsla(332, 60%, 49%, 0.5);
    --body-color: hsla(182, 53%, 55%, 0.5);
    --sidebar-color: hsla(71, 78%, 52%, 0.712);
    --footbar-color: hsla(258, 60%, 51%, 1);
    --tab-color: hsla(46, 50%, 80%, 0.5);
    --footbar-height: 15vh;
    --page-position: 85%;
    --page-width: 30%;
    --tab-gap: 2vw;
    --tab-width: 10vw;
    --tab-height: 5vh;
}
/* 01 color*/
body{
    background-color: var(--body-color)
}
aside.sidebar{
    background-color: var(--sidebar-color);
}
#zen-intro{
    background-color: var(--page-color);
}
#zen-supporting{
    background-color: var(--page-color);
}
/* 02: Typography*/
/*import fonts from in font folder*/
@font-face {
    font-family: 'myFont';
    src: url(../fonts/chunkfive.woff);
}
/*using the font*/
header h1{
    font-family: 'myFont', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: normal;
    line-height: 1.5em;
    text-align: center;
}
/*using online fonts*/
h3{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.25em;
}
a{
    text-decoration: none;
    text-transform: uppercase;
}
/* 03: Layout */

/*For test*/
div.explanation, div.participation, div.benefits, div.requirements{
    position: fixed;
    top: var(--page-position);
    width: var(--page-width);
    padding-left: 10px;;
    margin: 10px;
    border: 1px solid rgb(199, 199, 178);
    background-image: url(../img/newspaper3.jpg);
    transition: all 2s ease-in-out;
}
div.explanation{
    left: 0;
}
div.participation{
    left: 12vw;
}
div.benefits{
    left: 24vw;
}
div.requirements{
    left: 36vw;
}
div.explanation h3, div.participation h3, div.benefits h3, div.requirements h3{
    margin-top: -15%;
    width: var(--tab-width);
    height: var(--tab-height);
    background-color: var(--tab-color);
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border: black 1px solid;
    background-clip: content-box;
}
aside.sidebar{
    position: absolute;
    top: 5%;
    width: 30%;
    height: 60%;
    right: 5%;
}
div.extra2{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footbar-height);
    background-color: var(--footbar-color);
}

/*footer -- try it outside of the class*/
footer{
    position: fixed;
    bottom: 0;
    left: 40%;
    width: 20%;
    text-align: center;
    background-color: var(--body-colorr);
    border: 1px solid var(--border-color);
    z-index: -3;
}
/* introduction - in the middle of the page*/
section.intro{
    position: fixed;
    bottom: 5%;
    left: 30%;
    width: 30%;
    height: 80%;
    padding: 2%;
    background-image: url(../img/newspaper3.jpg);
    z-index: -1;
    transform: rotate(10deg); /*rotate the section*/ translate: 10px; /*move the section*/
}

div.extra1{
    position: fixed;
    bottom: 30%;
    left: 30%;
    width: 30%;
    height: var(--footbar-height);
    background-image: url(../img/newspaper3.jpg);
    z-index: -2;
    transform: rotate(60deg); /*rotate the section*/ translate: -100px; /*move the section*/
}
/* 04: other decorations */
div.explanation:active{
    top: 15vh;
}
div.participation:active{
    top: 15vh;
}
div.benefits:active{
    top: 15vh;
}
div.requirements:active{
    top: 15vh;
}
a:hover{
    font-size: 1.2em;
    color: hsl(175, 39%, 47%);
}
p::first-letter{
    font-size: 2em;
}
li::first-line{
    font-weight: bold;
}
p:nth-child(1){
    font-style: italic;
    color: rgb(162, 197, 226);
}
p:nth-child(2n+1){
    font-style: bold;
    color: rgb(162, 197, 226);
}

/* 05: More practice on transition */
section.intro h3 ~p:hover{
    opacity: 1;
    transform: scale(0.2);
    transition: all 4s ease-in-out;
}
/* 06: Animation */
footer{
    animation: 10s ease-in-out 2s alternate infinite backnforth;
}
@keyframes backnforth{
    from{transform: translate(-500px, 0px);}
    30%{transform: translate(-300px, 0px);}
    50%{transform: translate(0px, 0px);}
    70%{transform: translate(300px, 0px);}
    90%{transform: translate(500px, 0px);}
}

h2{
    background-image: linear-gradient(to right, hsl(197, 100%, 50%), hsl(155, 81%, 55%), hsl(115, 74%, 54%));
    animation: 4s ease-in-out infinite running changeColor;
}
@keyframes changeColor{
    from{background-image: linear-gradient(to right, hsl(115, 74%, 54%), hsl(155, 81%, 55%), hsl(197, 100%, 50%));}
    to{background-image: linear-gradient(to right, hsl(197, 100%, 50%), hsl(155, 81%, 55%), hsl(115, 74%, 54%));}
}

/* 07: Fancy features */
div.extra1{
    border-image: linear-gradient(to right, hsl(197, 100%, 50%), hsl(155, 81%, 55%), hsl(115, 74%, 54%)) 10;
}
/* 08: Clip-path 
body{
    clip-path: circle(100% at 50vw 50vh);
    animation: 10s ease-in-out infinite running changeClip;
}
@keyframes changeClip{
    from{clip-path: circle(100% at 50vw 50vh);}
    to{clip-path: circle(20% at 50vw 50vh);}
}
*/
aside.sidebar{
    clip-path: polygon(0 0,0 70%, 50% 100%, 100% 70%, 100% 0);
}
div#design-archives{
    display: none;
}
aside.sidebar h3{
    display: none;
}
aside.sidebar ul li{
    list-style: none;
}